################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Revision/.vs/Revision/v16/Server/sqlite3
